{% extends "base.html" %}

{% block title %}TDDC-Task List{% endblock%}

{% block page_content %}
<div class="page-header">
    <h1>任务列表</h1>
    <button type="button" class="btn btn-default">
        <a href="{{ url_for('task.edit_task', tid='-1') }}">新增</a>
    </button>
    <div class="table-responsive">
        <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Platform</th>
                <th>Feature</th>
                <th>URL</th>
                <th>Method</th>
                <th>Space</th>
                <th>Headers</th>
                <th>Proxy</th>
                <th>Valid</th>
                <th>Timestamp</th>
                <th>Action</th>
            </tr>
        </thead>
        {% for task in task_list %}
        <tbody>
            <tr>
                <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                    <a href="{{ url_for('task.edit_task', tid=task.id) }}">{{ task.id }}
                </td>
                <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{ task.platform }}</td>
                <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{ task.feature }}</td>
                <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{ task.url }}</td>
                <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{ task.method }}</td>
                <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{ task.space }}</td>
                <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{ task.headers }}</td>
                <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{ task.proxy }}</td>
                <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{ task.valid }}</td>
                <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{ task.timestamp }}</td>
                <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                    <button type="button" class="btn btn-default">
                        <a href="{{ url_for('task.edit_task', tid=task.id) }}">修改</a>
                    </button>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-warning">
                        <a href="{{ url_for('task.delete_task', tid=task.id) }}">删除</a>
                    </button>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    </div>
</div>
{% endblock %}